
<div id="mySideNav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class="nav-links">
        <a href="#">Submit your questions!</a>
    </div>

    <div class="media-section">
        <audio controls autoplay muted loop>
            <!-- for the interview, change the order of the music files -->
            <source src="/audio_files/Wanted(chosic.com).mp3" type="audio/mp3">
            <source src="/audio_files/robo-boss-encounter-theme-instrumental-176873.mp3" type="audio/mp3">
        Your browser does not support the audio element.
        </audio>
        <!-- <p> Wanted by Purrple Cat | https://purrplecat.com/
            Music promoted by https://www.chosic.com/free-music/all/
            Creative Commons CC BY-SA 3.0
            https://creativecommons.org/licenses/by-sa/3.0/
        </p> -->
    </div>
    
    <div class="footer">
        <div class="credits-section">
            <p>Contributors:</p>
            <ul>
                <li><a href="https://github.com/Amish06" target="_blank" rel="noopener noreferrer">Amish06</a></li>
                <li><a href="https://github.com/ArtofBugs" target="_blank" rel="noopener noreferrer">ArtofBugs</a></li>
                <li><a href="https://github.com/atongsak" target="_blank" rel="noopener noreferrer">atongsak</a></li>
                <li><a href="https://github.com/dpti0904" target="_blank" rel="noopener noreferrer">dpti0904</a></li>
                <li><a href="https://github.com/jonny-bananas" target="_blank" rel="noopener noreferrer">Jonny-bananas</a></li>
            </ul>
        </div>
    </div>

</div>
    <span onclick="openNav()">
        <span class="material-symbols-outlined">menu</span>
    </span>