<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="menu/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script src="/menu/menu.js" charset="utf-8" defer></script>
    </head>
    <body>
        {{> menu}}
        {{{body}}}
    </body>

    <span onclick="openNav()">
        <span class="material-symbols-outlined">menu</span>
    </span>
</html>