<script type="module" src="/job-apps.js"></script>
<div class="content">
<div class="instructions">
    <p class="p-instructions">Choose an internship to apply to:</p>
</div>
<div class="jobs-container">
    <div class="job-container">
    <div class="job-two-column">
        <hgroup class="job-two-column-large">
        <h1>Bigg Corp: Full Stack Development Intern</h1>
        <p class="subtitle"><strong>Company size:</strong> 1,000,000 - 5,000,000 employees</p>
        
        </hgroup>
        <button type="button" id="big-apply" class="job-two-column-small apply-button">
        Apply
        </button>
    </div>

    <h2>Description:</h2>
    <p>
        Bigg Corp is one of the world’s largest software companies, committed to delivering cutting-edge solutions and
        services. We are seeking a highly motivated and talented Full Stack Development Intern to join our team. This
        internship offers a unique opportunity to gain hands-on experience working on exciting cutting-edge projects.
    </p>

    <div class="job-two-column">
        <h3 class="job-two-column-small">Locations:</h3>
        <ul class="job-two-column-large">
        <li>Portland, OR</li>
        <li>Santa Clara, CA</li>
        <li>Tucson, AZ</li>
        <li>Houston, TX</li>
        <li>New York, NY</li>
        <li>Philadelphia, PA</li>
        <li>Washington D.C.</li>
        <li>Remote</li>
        </ul>
    </div>

    <div class="job-two-column">
        <h3 class="job-two-column-small">Duration:</h3>
        <p class="job-two-column-large">10-12 weeks</p>
    </div>

    <h3>As an intern, you will:</h3>
    <ul>
        <li>
        Collaborate with UI/UX designers to implement responsive and user-friendly interfaces.
        </li>
        <li>
        Assist in designing and developing server-side logic using Node.js, Python, or other relevant backend
        technologies.
        </li>
        <li>
        Integrate front-end and back-end components to create cohesive and functional applications.
        </li>
        <li>
        Work collaboratively with cross-functional teams, including designers, product managers, and other
        developers.
        </li>
    </ul>

    <h3>We're looking for individuals who are:</h3>
    <ul>
        <li>
        Familiar with front-end technologies such as HTML, CSS, JavaScript, and front-end frameworks (e.g.,
        React, Angular, Vue.js).
        </li>
        <li>
        Have a basic understanding of back-end technologies, databases, and server-side scripting languages.
        </li>
        <li>
        Currently pursuing a degree in Computer Science, Software Engineering, or a related field, graduating
        between Fall 2025 and Spring 2027.
        </li>
        <li>
        Familiar with agile and version control and excellent communicators.
        </li>
        <li>
        Willing to learn and adapt to new technologies and tools quickly.
        </li>
    </ul>

    <h3>Nice to have:</h3>
    <ul>
        <li>
        Experience with cloud platforms (e.g., AWS, Azure, Google Cloud).
        </li>
        <li>
        Knowledge of containerization and orchestration tools (e.g., Docker, Kubernetes).
        </li>
    </ul>

    <footer>
        BiggCorp is an equal opportunity employer. We celebrate diversity and are committed to creating an inclusive
        environment for all employees.
    </footer>

    </div>

    <div class="job-container">
    <div class="job-two-column">
        <hgroup class="job-two-column-large">
        <h1>SpeedCo: Full Stack Development Intern</h1>
        <p class="subtitle"><strong>Company size:</strong> 10-50 employees</p>
        </hgroup>
        <button type="button" id="small-apply" class="job-two-column-small apply-button">
        Apply
        </button>
        
    </div>

    <h2>Description:</h2>
    <p>
        SpeedCo is passionate about pushing the boundaries of technology in the modern world. We are seeking a highly
        motivated Full Stack Development Intern to join our team and contribute to the success of our exciting
        projects.
    </p>


    <div class="job-two-column">
        <h3 class="job-two-column-small">Location:</h3>
        <p class="job-two-column-large">Corvallis, Oregon - On-site or Remote</p>
    </div>

    <div class="job-two-column">
        <h3 class="job-two-column-small">Duration:</h3>
        <p class="job-two-column-large">3 months, with the possibility of extension</p>
    </div>

    <h3>Responsibilities:</h3>
    <ul>
        <li>
        Work with front-end and back-end teams to develop cutting-edge web applications using HTML/CSS/JS.
        </li>
        <li>
        Assist in designing and developing server-side logic using Node.js and/or Flask or other relevant
        technologies.
        </li>
        <li>
        Integrate front-end and back-end components to create cohesive and functional applications.
        </li>
        <li>
        Ensure cross-browser compatibility and responsiveness of applications through our extensive testing process.
        </li>
    </ul>

    <h3>Minimum qualifications:</h3>
    <ul>
        <li>
        Currently pursuing a bachelor’s degree in Computer Science or a related field with a graduation date of
        Spring 2026 or earlier.
        </li>
        <li>
        Proficiency with HTML/CSS/JavaScript and version control (git).
        </li>
        <li>
        Experience with at least one server-side technology, preferably Node.js or Flask.
        </li>
        <li>
        Strong problem-solving skills and attention to detail.
        </li>
    </ul>

    <h3>Preferred qualifications:</h3>
    <ul>
        <li>
        Experience with at least one front-end framework, preferably React or Angular.
        </li>
        <li>
        Experience using Docker or other containerization tools.
        </li>
        <li>
        Demonstrated ability to work independently in a fast-paced environment.
        </li>
        <li>
        Strong communication and interpersonal skills.
        </li>
    </ul>

    <footer>
        SpeedCo is an equal opportunity employer. We encourage applications from candidates of all backgrounds and
        experiences.
    </footer>
    </div>
</div>
