body {
    font-family: 'sourcecode', Arial, sans-serif; /* Use the sourcecode font */
    margin: 0;
    padding: 0;
    background-color: #000; /* Black background */
    color: #FFA500; /* Orange text color */
}

#app {
    text-align: center;
}

h1 {
    color: orange; /* Change the heading color to white */
}

#imageModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

#expandedImage {
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resume-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.personal-info {
    margin-bottom: 10px; /* Add margin between personal information items */
}


.form-section,
.apply-box,
.resume-image,
.skill-box,
.drag-drop-section {
    background-color: #000; /* Black background */
    color: #FFA500; /* Orange text color */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.apply-box,
.resume-image {
    width: calc(30% - 20px); /* Same width as the skill box */
    height: 110px; 
}

.form-section{
    width: calc(30% - 20px); /* Same width as the skill box */
    height: auto; 
}

.apply-box button {
    background-color: #FFA500; /* Orange button background */
    color: #000; /* Black button text color */
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
}

.apply-box button:hover {
    background-color: #FF8C00; /* Darker orange on hover */
}

.resume-image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


.skill-box h2 {
    color: #FFA500; /* Orange heading color */
}

.draggable {
    margin: 5px;
    padding: 8px 12px;
    background-color: #FFA500; /* Orange background */
    color: #000; /* Black text color */
    border-radius: 20px;
    cursor: move;
}

.remove-btn {
    background-color: #DC3545; /* Red button background */
    color: #FFF; /* White button text color */
    border: none;
    padding: 3px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #BD2130; /* Darker red on hover */
}

.drag-drop-section {
    width: 30%;
}

.droppable {
    min-height: 30px;
    border: 2px dashed #AAA;
    border-radius: 5px;
    padding: 5px;
}

#workExperienceSection,
#projectsSection,
#otherSkillsSection {
    width: calc(30% - 20px); /* Same width as the skill box */
}

.skills-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
}

.skill-box {
    margin:auto ;/* Updated to allow maximum of 3 items per row */
    margin-bottom: 20px; /* Add margin to separate skills vertically */
}

#skillsBox1 .skills-container,
#skillsBox2 .skills-container,
#skillsBox3 .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

#skillsBox1 .skill-box,
#skillsBox2 .skill-box,
#skillsBox3 .skill-box {
    width: calc(30% - 20px);
    margin-bottom: 20px; /* Added margin to create space between rows */
}

#workExperienceSection {
    order: 2 ; 
}

#projectsSection {
    order: 3;
}

#otherSkillsSection {
    order: 1; 
}