body{
    margin: 0;
    padding: 0;
    /* change font when group decides on one */
    font-family: sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#dialogueBox-container{
    width: 80%;
    /* playing with the idea of making the containers transparent  */
    background-color: rgba(255, 128, 0, 0.722);
    padding: 15px;
    box-shadow: 0 0 10px rgba(255, 128, 0, 0.722);
    border-radius: 10px;
    margin: auto;
}

#dialogueBox-container p{
    /* adjust font size after seeing how much text */
    font-size: small;
    font-variant: small-caps;
    color: white;
}

#choices-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 128, 0, 0.722);
}

.choice-buttons{
    flex-grow: 1;
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    /* border: 3px white; */
    border-radius: 10px;
    cursor: pointer;
}