body{
    margin: 5px;
    padding: 0;
    /* change font when group decides on one */
    font-family: sans-serif;
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dialogueBox-container{
    position: fixed;
    /* adjust bottom later */
    bottom: 80px;
    width: 65%;
    /* playing with the idea of making the containers transparent  */
    background-color: rgba(0, 0, 0, 0.334);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#dialogueBox-container p{
    /* adjust font size after seeing how much text */
    font-size: small;
    font-variant: small-caps;
    color: white;
}

#choices-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: orange;
    padding: 10px;
    display: flex;
    justify-content:space-around;
}

.choice-buttons{
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    /* 10 or 100? for radius*/
    border-radius: 10px;
    cursor: pointer;
}