@font-face {
    font-family: 'sourcecode';
    src: url('src/Source_Code_Pro/static/SourceCodePro-SemiBold.ttf') format('truetype');
    font-weight: bold;
}

body {
    margin: 0;
    color: black;
    max-height: 100%;
    height: 100%;
}

/* canvas {
    z-index: 0;
    position: fixed;
} */

canvas {
    position: fixed;
    top: 0;
    left: 0;

    /* TESTING */
    z-index: 0;
};

.content {
    z-index: 1;  /* Make content sit on top of canvas */
    position: fixed;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instructions {
    /*
    TODO: standardize this
    */
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    font-family: 'sourcecode';
    font-weight: bold;
}

.p-instructions{
    color: white;
}

.jobs-container {
    display: flex;
    height: 85%;
}

.job-container {
    flex: 1;
    font-family: arial;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 30px;
    padding-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 1%;
}

.job-two-column {
    display: inline-flex;
    align-items: top;
    justify-content: left;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.job-two-column-small {
    width: auto;
    flex-grow: 1;
    display: inline-block;
}
.job-two-column-large {
    width: auto;
    flex-grow: 5;
    display: inline-block;
}

.apply-button {
    width: min-content;
    height: min-content;
}

h1 {
    color: darkslateblue;
    width: 100%;
}

h2 {
    color: navy;
    text-align: center;
    font-size: 20px;
    width: 100%;
}

h3 {
    color: navy;
    text-align: left;
    /* Match with <ul> */
    font-size: inherit;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}

p {
    color: black;
    width: vw;
}

ul {
    text-align: left;
    width: auto;
}

footer {
    color: black;
    padding-bottom: 15px;
}

button {
    background-color: blanchedalmond;
    border-radius: 5px;
    border-color: bisque;
    font-size: 20px;
    margin-right: 0;
    padding:10px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(255, 201, 120);
}