body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: rgba(255, 128, 0, 0.8);;
  }
  
  .container{
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1{
    text-align: center;
    color: #333;
  }
  
  form{
    display: flex;
    flex-direction: column;
  }
  
  label{
    margin-bottom: 8px;
    color: #555;
  }
  
  textarea, input{
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submission-container button{
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid black;
  }

  .back-button button{
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 3px;
    cursor: pointer;
    border: 2px solid black;
  }
  
  button:hover{
    background-color: #45a049;
  }
  