.sidenav{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.nav-links{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 33%;
}

.media-section{
    flex: 2;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    color: white;
    width: 66%;
}

.footer{
    background: black;
    color: orange;
    padding: 10px;
    text-align: center;
}

.nav-links a, .sidenav .credits-section a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: medium;
    color: orange;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #818181;
}

.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
    text-decoration: none;
    color: orange;
}

.material-symbols-outlined{
    cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.credits-section{
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    height: 20%;
}

.credits-section ul{
    display: flex;
    list-style: none;
    padding: 0;
}

.credits-section li{
    font-size: smaller;
    margin-bottom: 3px;
}

#main{
    transition: margin-left 0.5s;
    padding: 20px; 
}