body{
    margin: 0;
    padding: 0;
    /* change font when group decides on one */
    font-family: sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


span {
    color: #FFA500; /* Orange text color */
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    z-index: 1;
}

#dialogueBox-container{
    max-width: 80%;
    /* playing with the idea of making the containers transparent using the slider */
    background-color: rgba(255, 128, 0, 0.8);
    padding: 15px;
    box-shadow: 0 0 10px rgba(255, 128, 0, 0.9);
    border-radius: 10px;
    margin: auto;
}

#dialogueBox-container p{
    /* adjust font size after seeing how much text */
    font-size: small;
    font-variant: small-caps;
    line-height: 1.6;
    color: white;
}

#choices-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
    background-color: rgba(255, 128, 0, 0.8);
    margin-bottom: 10%;
    border-radius: 10px;
}

.choice-group{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.choice-buttons{
    flex-grow: 1;
    margin: 10px;
    padding: 10px;
    background: linear-gradient(to bottom, #555, #333);
    color: white;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    /* opacity: 0; */
}

.choice-buttons:hover{
    background: linear-gradient(to bottom, #777, #555);
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}